on:
  workflow_dispatch: {}
jobs:
  check-outdated:
    runs-on: ubuntu-latest
    outputs:
      outcome: ${{ steps.echo.outputs.outcome }}
    steps:
      - run: git clone https://github.com/gmanka-flatpaks/com.openai.codex
      - id: x-checker
        continue-on-error: true
        uses: docker://ghcr.io/flathub/flatpak-external-data-checker:latest
        with:
          args: --require-important-update --check-outdated com.openai.codex/com.openai.codex.yml
      - id: echo
        run: echo outcome=${{ steps.x-checker.outcome }} >> $GITHUB_OUTPUT
  update:
    runs-on: ubuntu-latest
    needs: check-outdated
    if: ${{ needs.check-outdated.outputs.outcome == 'failure' }}
    steps:
      - name: prepare
        run: |
          export ver=$(curl https://release-monitoring.org/api/v2/versions/?project_id=387692 | jq -r '.stable_versions[0]')
          git clone https://github.com/openai/codex --branch rust-v$ver sources
          git clone https://github.com/gmanka-flatpaks/com.openai.codex
          git clone https://github.com/flatpak/flatpak-builder-tools
      - uses: docker://docker.io/library/rust:latest
        with:
          entrypoint: cargo
          args: update --manifest-path sources/codex-rs/Cargo.toml
      - run: cp sources/codex-rs/Cargo.lock com.openai.codex/modules/codex/Cargo.lock
      - uses: docker://ghcr.io/astral-sh/uv:python3.14-trixie
        with:
          entrypoint: uv
          args: run flatpak-builder-tools/cargo/flatpak-cargo-generator.py com.openai.codex/modules/codex/Cargo.lock -o com.openai.codex/modules/codex/codex-cargo-sources.yml --yaml
      - uses: docker://ghcr.io/flathub/flatpak-external-data-checker:latest
        env:
          GIT_AUTHOR_NAME: Flatpak External Data Checker
          GIT_COMMITTER_NAME: Flatpak External Data Checker
          GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: --update --never-fork com.openai.codex/com.openai.codex.yml
